<div class="table-responsive">
<table class="table ">
    <thead>
        <tr>
            
            <th scope="col">Nombre</th>
            <th scope="col">Antiguedad</th>
            <th scope="col">veces</th>
            <th scope="col">Periodo</th>
            <th scope="col">Tope por periodo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha Creacion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            
            <td>Alzador</td>
            <td>4 meses</td>
            <td>1</td>
            <td>/</td>
            <td>$12,000</td>
            <td>Alzador: Hasta $12.000 (solo una vez, colaboradore</td>
            <td>9/21/2022</td>

        </tr>
        <tr>
                <td>Colacion</td>
                <td>4 meses</td>
                <td>/</td>
                <td>/</td>
                <td>/</td>
                <td>  </td>
                <td>12/12/2022</td>

        </tr>
        <tr>
                <td>Telefono</td>
                <td>4 meses</td>
                <td>1</td>
                <td>24 meses</td>
                <td>$300,000</td>
                <td>Equipo telefónico: 30 días de haberse realizado el  </td>
                <td>8/10/2022</td>

        </tr>

            <tr>
                <td>Escritorio</td>
                <td>4 meses</td>
                <td>1</td>
                <td>/</td>
                <td>$70,000</td>
                <td>Escritorio: Cubrirá hasta $70.000. (solo una vez, </td>
                <td>8/10/2022</td>
            </tr>

            <tr>
                <td>Impresoras</td>
                <td>4 meses</td>
                <td>1</td>
                <td>/</td>
                <td>$60,000</td>
                <td>Impresoras: hasta $60.000 (solo una vez, colaborad </td>
                <td>9/21/2022</td>
            </tr>

            <tr>
                <td>Licencia</td>
                <td>4 meses</td>
                <td>/</td>
                <td>/</td>
                <td>/</td>
                <td></td>
                <td>11/11/2022</td>
            </tr>

            <tr>
                <td>Material de oficina</td>
                <td>4 meses</td>
                <td>/</td>
                <td>1</td>
                <td>$6,000</td>
                <td>Material de oficina esencial: Con un tope de $6. 000</td>
                <td>	9/21/2022</td>
            </tr>

            <tr>
                <td>Mouse</td>
                <td>4 meses</td>
                <td>1</td>
                <td>/</td>
                <td>$10,000</td>
                <td>Mouse: Hasta $10.000 (solo una vez, colaboradores</td>
                <td>9/21/2022</td>
            </tr>

            <tr>
                <td>Pantallas</td>
                <td>4 meses</td>
                <td>1</td>
                <td>/</td>
                <td>$50,000</td>
                <td>Pantallas: hasta $ 50.000 (solo una vez, colaborad</td>
                <td>9/21/2022</td>
            </tr>

            <tr>
                <td>Pasaje</td>
                <td>4 meses</td>
                <td>/</td>
                <td>/</td>
                <td>/</td>
                <td></td>
                <td>12/12/2022</td>
            </tr>

            <tr>
                <td>Silla</td>
                <td>4 meses</td>
                <td>1</td>
                <td>/</td>
                <td>$60,000</td>
                <td>Silla de trabajo: Cubrirá hasta $60.000. (solo una</td>
                <td>8/30/2022</td>
            </tr>
            <tr>
                <td>Taxi</td>
                <td>4 meses</td>
                <td>/</td>
                <td>/</td>
                <td>/</td>
                <td></td>
                <td>11/11/2022</td>
            </tr>

            <tr>
                <td>Teclado</td>
                <td>4 meses</td>
                <td>1</td>
                <td>/</td>
                <td>/</td>
                <td></td>
                <td>11/11/2022</td>
            </tr>
    </tbody>
</table>
</div>
					